.body{
    margin-top: 100px;
}

.body-table tr td{
    font-weight: bold;
    font-size: 20px;
}

.body-sign {
    font-weight: bold;
    font-size: 30px;
    text-transform: uppercase;
    margin-left: 10px;
}

.body-container {
    margin-left: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.body-table{
    text-align: justify;
    margin-left: 200px;
}

.body-table tr td span{
    font-style: normal;
    font-weight: 100;
    font-size: 15px;
}

.body-table .one{
    float:right;
    margin-right: 10px;
}

.body-container p, .body-container div{
    margin-left: 200px;
}

